@page
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <base href="/">

    <title>Øbo</title>

    <link rel="stylesheet" href="~/dist/app.css" asp-append-version="true" />

    <script defer src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch,Intl"></script>
    <script defer src="~/dist/app.js" asp-append-version="true"></script>
</head>
<body>
    <div aurelia-app="main" style="height: 100%">
    </div>
</body>
</html>
